body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}
section{
  padding: 50px;
}
.custom-navbar {
  background: #fff;
  padding: 13px 0px;
  position: sticky;
  top: 0;
  z-index: 111;
}
.navbar-full-border{
  border-bottom: 2px solid #f7f7f7;
}
.mobile-border{
 border-bottom: 1px solid #d6d4d4;
padding-bottom: 10px !important;
}
#mobile-menu{
    width: 90%;
  background: #fff;
  margin: 0 auto;
}
.mobile-logo{
  display: none;
}
.custom-navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.custom-navbar ul li{
  display: inline-block;
 padding: 8px 20px;
}

.custom-navbar a {
  color: #000;
  text-align: center;
  font-size: 15px;
  text-decoration: none;
font-weight: 500;
}

li.custom-dropdown {
  position: relative;
  left: 0;
  top: 0;
}
.drop-content ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.drop-content ul li {
  display: block;
  padding: 8px 4px;
}
.drop-content ul li:hover {
    background: rgba(187, 178, 178, 0.2);
}
.drop-content {
 min-width: 150px;
 background-color: #fff;
 visibility: hidden; /* hides sub-menu */
 opacity: 0;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 z-index: -111 !important;
 -webkit-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;
 -o-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;
 transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;
}
li.custom-dropdown:hover .drop-content{
 visibility: visible; /* shows sub-menu */
 top: 45px;
 opacity: 1;
 z-index: -11 !important;
 -webkit-transition-delay: 0s, 0s, 0.3s;
 -o-transition-delay: 0s, 0s, 0.3s;
 transition-delay: 0s, 0s, 0.3s; 
}



/* mobile menu code */
.menu-block{
  display: block !important;
}
.menu-icon {
    width: 20px;
    display: none;
  }
.menu-icon span{
  width:100%;
  height:2px;
  padding:0px;
  margin:0px;
  background: #000;
  display:block;
  margin-bottom:5px;
  -webkit-transition:0.2s;
  -o-transition:0.2s;
  transition:0.2s;
  
}
.secound-icon{
 -webkit-transition:0s !important;
 -o-transition:0s !important;
 transition:0s !important;
}
.toggle-none{
  visibility:hidden;
}
.toggle-icon{
  position:relative;
  top:10px;
  -webkit-transform:rotate(-50deg);
  -ms-transform:rotate(-50deg);
  transform:rotate(-50deg);
  -webkit-transition:0.4s;
  -o-transition:0.4s;
  transition:0.4s;
}
.toggle-icons{
  position:relative;
  top:-4px;
  -webkit-transform:rotate(50deg);
  -ms-transform:rotate(50deg);
  transform:rotate(50deg);
  -webkit-transition:0.4s;
  -o-transition:0.4s;
  transition:0.4s;
  
}






/* responsive code */
@media screen and (max-width: 991px) {
.desktop-logo{
  display: none;
}
  /* mobile-view logo start*/
  a.mobile-logo {
   display: block;
    width: 180px;
    height: 40px;
    position: absolute;
    top: -2px;
    left: 50%;
    -webkit-transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%);
            transform: translate(-50%,0%);
}

a.mobile-logo img {
    width: 100%;
    height: 100%;
}
/* mobile view logo end */

  .custom-navbar {
padding: 20px 0px;
  }
  #mobile-menu {
width: 100%;
margin-top: 20px;
  }
  .custom-navbar ul li{
    display:block;
    padding: 10px 0px;

  }
  .custom-dropdown:after {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f054";
    top: 12px;
    right: 10px;
    color: #000;
}

 .custom-dropdown:hover:after {

    content: "\f078";

}
  .drop-content {
    position:initial ;
    display: none;
  }
  li.custom-dropdown:hover .drop-content{
    display: block;
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
  }
  #mobile-menu{
    display: none;
     
  }
  .custom-navbar{
  border-bottom: 2px solid #f7f7f7;
  }
}
